<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Minha Loja</title>
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<h1>Minha Loja</h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/products">Produtos</a></li>
					<li><a href="/olders">Pedidos</a></li>
					<li><a href="/contacts">Contato</a></li>
                    <li>                <form action="search" method="get">
                    <input type="text" name="find">
                </form></li>
				</ul>
			</nav>
		</div>
	</header>

	<main>
    <section class="container">
        <div>



